@import 'utils.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: $primary-color;
}
.header{
  height: 60px;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  place-items: center;
  place-content: center;
}
.page--title{
  @include common-style;
}